* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html { 
    background: no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.center {
    display:  flex;
    justify-content: center;
    align-items: center;
}

.hero {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}

li {
    background-color: rgb(12, 11, 94);
    padding: 10px 120px;
    margin: 5px 0;
    color: white;
    border-radius: 8px;
}

.container {
    padding: 20px;
    color: rgb(12, 11, 94);
}

select {
    padding: 5px 80px;
    border-radius: 8px;
    color: rgb(12, 11, 94);
}

button {
    margin: 20px 0;
    border-radius: 5px;
    border: none;
    padding: 10px;
    background-color: rgb(12, 11, 94);
    color:rgb(225, 225, 225)
}

button:hover {
    background-color: rgb(143,143,143);
    color: rgb(12, 11, 94);
    transition: 250ms;
}
 
body {
    height: 100vh;
    background-color: rgb(162, 20, 20);
}

label {
    font-weight: bolder;
}