.center {
    display:  flex;
    justify-content: center;
    align-items: center;
}

.hero {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}

li {
    background-color: rgb(12, 10, 133);
    padding: 10px 120px;
    margin: 5px 0;
    color: white;
    border-radius: 8px;
}

.container {
    padding: 20px;
    color: rgb(12, 10, 133);
}

select {
    padding: 5px 80px;
    border-radius: 8px;
    color: rgb(12, 10, 133);
}

button {
    margin: 20px 0;
    border-radius: 5px;
    border: none;
    padding: 10px;
    background-color: rgb(12, 10, 133);
    color:rgb(225, 225, 225)
}

button:hover {
    background-color: rgb(143,143,143);
    color:rgb(76, 41, 233);
    transition: 250ms;
}
 
body {
    height: 100vh;
    background-color: rgb(241, 52, 52);
}